/* Tablet */
@media all and (max-width: 1000px) {
    
    .top-wrapper h1 {
        font-size: 75px;
    }

    .top-wrapper h2 {
        font-size: 35px;
    }

    .bottom-container {
        width: 100%;
    }

    .comments {
        width: 100%;
        padding-top: 20px;
    }

    .form {
        max-width: 480px;
    }
    
    .wrap-input {
        margin-bottom: 26px;
    }

    .extra-1 {
        margin: 0 10%;
    }

    .form-btn {
        margin-top: 10px;
    }
}

/* Smartphone */
@media all and (max-width: 670px) {
    .logo {
        font-size: 20px;
    }

    .header-left {
        margin-left: 0px;
    }

    .header-right a {
        font-size: 10px;
    }

    .header-right {
        display: none;
    }
  
    .menu-icon {
        display: block;
    }

    .top-wrapper {
        text-align: center;
        padding-top: 130px;
    }

    .top-wrapper h1 {
        font-size: 50px;
    }

    .top-wrapper h2 {
        font-size: 30px;
    }

    .bottom-container {
        width: 100%;
        padding-top: 0;
    }

    .comments {
        width: 100%;
        padding-top: 20px;
    }

    .extra-2 h1 {
        text-align: left;
        font-size: 24px;
        line-height: 36px;
    }

    .questions {
        font-size: 16px;
        line-height: 20px;
    }

    .answers {
        font-size: 14px;
        line-height: 20px;
    }

    .form-title {
        font-size: 20px;
    }

    .wrap-input {
        margin-bottom: 26px;
    }

    .form-btn {
        margin-top: 10px;
    }

    footer {
        text-align: center;
        padding-top: 1px;
    }

    .footer-about {
        float: none;
    }
      
    .footer-links {
        float: none;
        text-align: center;        
    }

    .extra-1 {
        margin: 0 5%;
    }

    .img {
        max-width: 120px;
        max-height: 120px;
        background-position: 35% 10%;
        background-size: cover;
        border-radius: 50%;
    }

    .text,
    .text-right {
        margin: 10px 20px;
        font-size: small;
    }

}