body {
    margin: 0;
    font-family: "Lucida Grande";
}

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
    font-size: 15px;
}

header {
    height: 65px;
    width: 100%;
    background-color: rgba(34, 49, 52, 0.9);
    position :fixed;
    top: 0;
    z-index: 10;
} 
.logo {
    width: 124px;
    margin-top: 10px;
    margin-bottom: 60px;
    margin-left: 50px;
    font-size: 30px;
}
  
.header-left {
    float: left;
    margin: 15px 50px;
}

.header-left a:hover {
    transition: all 0.5s;
    color: #eba151;
}
  
.header-right {
    float: right;
    margin-right: 115px;
}

.header-right a {
    line-height: 65px;
    padding: 0 25px;
    color: white;
    display: block;
    float: left;
    transition: all 0.5s;
}
  
.header-right a:hover {
    background-color: rgba(255, 255, 255, 0.3);
    color: #eba151;
    transition: all 0.5s;
}

.menu-icon {
    color: white;
    float: right;
    font-size: 25px;
    padding: 21px 0;
    display: none;
}

.container {
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
    width: 100%;
}

.top-wrapper {
    padding: 180px 0 180px 0;
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('src/Top.jpg');
    background-size: cover;
    color: #eba151;
    text-align: center;
}

.top-wrapper h1 {
    font-size: 90px;
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.top-wrapper h2 {
    opacity: 0.9;
    font-size: 35px;
    letter-spacing: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    font-style: italic;
}

.title {
    color: #02ccba;
}

.extra-1 {
    margin: 0 15%;
    padding: 30px 0px;
}

.extra-1 h1 {
    text-align: center;
    margin-bottom: 60px;
}

.profile {
    width: 100%;
    margin-bottom: 40px;
    display: flex;
}

.img {
    width: 200px;
    height: 200px;
    background-position: 35% 10%;
    background-size: cover;
    border-radius: 50%;
}

.iki {
    background-image: url('src/iki.jpg');
}

.latif {
  background-image: url('src/latif.png');
}

.putri {
    background-image: url('src/putri.jpg');
}

.sabil {
  background-image: url('src/sabil.png');
}

.nunun {
  background-image: url('src/nunun.jpg');
}

.text,
.text-right {
    margin: 40px;
}

.name {
    font-weight: bold;
}

.motto {
    font-style: italic;
}

.right {
    justify-content: flex-end;
    text-align: right;
}

.extra-2 {
    width: 100%;
    min-height: 100%;
    background: #eba151 url('src/newsletter_pat.png') repeat;
    background-position: 0 -20px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 40px;
}

.extra-2 h1 {
    text-align: center;
    font-size: 30px;
}

.bottom-wrapper {
    margin: 0 auto;
    max-width: 1163px;
    background:#f7f7f7;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.bottom-container {
    margin: 0;
    padding-top: 20px;
    width: 50%;
    border-right: 1px solid rgba(164, 165, 165, 0.24);
}

li {
    list-style: none;
}

.letter-box {
    font-size: 40px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 0;
    
}

.question-box {
    color: #eba151;
    border-left: 4px solid #eba151;
}

.answer-box {
    color: #7a7a7a;
    border-left: 4px solid #7a7a7a;
}

.question-wrapper {
    background-color: #f0f0f0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.question-wrapper li {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}

.answer-wrapper {
    padding-top: 0;
    padding-bottom: 20px;
    padding-left: 0;
    margin-top: 0;
    border-bottom: 1px dashed #bdbdbd;
}

.answer-wrapper li {
    display: table-cell;
    vertical-align: middle;
    height: 70px;
}

.sentences {
    letter-spacing: 0.5px;
}

.questions {
    font-weight: bold;
    font-size: 18px;
    color: #646363;
}

.answers {
    font-size: 16px;
    color: #7e7e7e;
}

.comments {
    width: 50%;
}

.form {
    max-width: 390px;
    margin: 0 auto;
}

.form-title {
    display: block;
    font-size: 24px;
    color: #333333;
    line-height: 1.2;
    text-align: center;
    padding-bottom: 44px;
}

.wrap-input {
    position: relative;
    width: 100%;
    z-index: 1;
    margin-bottom: 20px;
}

input {
    outline: none;
    border: none;
}

.input {
    display: block;
    width: 100%;
    background: #e6e6e6;
    font-size: 15px;
    line-height: 1.5;
    color: #666666;
    font-family: "Lucida Grande";
}

.shadow-input {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 0px 0px;
    color: rgba(87,184,70, 0.5);
}

input.input {
    height: 50px;
    border-radius: 25px;
    padding: 0 30px;
}

input.input + .shadow-input {
    border-radius: 25px;
}

.input:focus + .shadow-input {
    animation: anim-shadow 0.5s ease-in-out forwards;
}

textarea {
    outline: none;
    border: none;
}

textarea.input {
    min-height: 160px;
    border-radius: 25px;
    padding: 12px 30px;
}

  textarea.input + .shadow-input {
    border-radius: 25px;
}

@keyframes anim-shadow {
    to {
      box-shadow: 0px 0px 80px 30px;
      opacity: 0;
    }
}

button {
    outline: none;
    border: none;
    background: transparent;
}

button:hover {
    cursor: pointer;
}

.wrap-form-btn {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.form-btn {
    min-width: 193px;
    height: 50px;
    border-radius: 25px;
    background: #57b846;
    font-family: "Lucida Grande";
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 0.8px;
    line-height: 1.5;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 25px;
    margin-top: 30px;
    transition: all 0.4s;
}

.form-btn:hover {
    background: #333333;
}

footer {
    background-color: #303036;
    color: #d3d3d3;
    height: 200px;
    width: 100%;
    padding: 0px 20px;
    position: relative;
}

.footer-about {
    float: left;
}

.footer-about h3 {
    color: #eba151;
}

.footer-links {
    float: right;
    text-align: right;        
}

.footer-links li {
    list-style: none;
    line-height: 20px;
}

.footer-links li:hover {
    transition: all 0.5s;
    color:#eba151;
}

.footer-bottom {
    background-color: #343a40;
    height: 30px;
    width: 100%;
    text-align: center;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 10px 0;
}
